.criar-conta-container {
  box-shadow: 0px 0px 2px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #f5f5f5;
}

.criar-conta-container h2 {
  text-align: center;
  margin-top: 20px;
  color: #6a0dad;
  margin-bottom: 30px;
}

.criar-conta-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 20px;
}

.criar-conta-container button {
  gap: 8px;
  padding: 13px 18px;
  border-radius: 15px;
  border: none;
  background-color: #e0e0e0;
  font-size: 15px;
  font-weight: bold;
  color: #6a0dad;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.criar-conta-container button:hover {
  background-color: #6a0dad;
  color: white;
}

.info-criar-conta {
  margin-top: 20px;
  text-align: center;
  color: #6a0dad;
}

.info-criar-conta input {
  margin-left: 10px;
  padding: 6px 9px;
  border-radius: 5px;
  border: #6a0dad solid 1px;
}

.info-criar-conta input:focus {
  outline: none;
  box-shadow: 0 0 5px #6a0dad;
}

.info-criar-conta label {
  font-weight: 500;
}
