.dashboard-container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 40%;
  margin: 80px auto;
  padding: 40px;
  background-color: #f5f5f5;
  text-align: center;
  color: #5c294b;
}

.dashboard-container h2 {
  margin-top: 20px;
  color: #5c294b;
  margin-bottom: 30px;
  font-size: 2rem;
}

.bem-vindo {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
}

.saldo {
  font-size: 2rem;
  font-weight: bold;
  color: #5c294b;
  margin-top: -20px;
}

.conta {
  text-align: left;
  font-size: 1.1rem;
  color: #333;
}
