.login-container {
  box-shadow: 0px 0px 2px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #f5f5f5;
}

.login-container h2 {
  text-align: center;
  margin-top: 20px;
  color: #5c294b;
  margin-bottom: 30px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 20px;
}

.login-container button {
  gap: 8px;
  padding: 13px 18px;
  border-radius: 15px;
  border: none;
  background-color: #e0e0e0;
  font-size: 15px;
  font-weight: bold;
  color: #5c294b;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-container button:hover {
  background-color: #5c294b;
  color: white;
}

.info-login {
  margin-top: 20px;
  text-align: center;
  color: #5c294b;
}

.info-login input {
  margin-left: 10px;
  padding: 6px 9px;
  border-radius: 5px;
  border: #5c294b solid 1px;
}

.info-login input:focus {
  outline: none;
  box-shadow: 0 0 5px #5c294b;
}

.info-login label {
  font-weight: 500;
}
