.container-transferencia {
  box-shadow: 0px 0px 2px;
  box-sizing: content-box;
  border-radius: 10px;
  width: 400px;
  margin: 80px auto;
  padding: 40px;
  background-color: #f5f5f5;
  text-align: center;
  color: #5c294b;
}

.container-transferencia h2 {
  text-align: center;
  margin-top: 20px;
  color: #5c294b;
  margin-bottom: 30px;
}

.container-transferencia form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 20px;
}

.container-transferencia button {
  padding: 13px 18px;
  border-radius: 15px;
  border: none;
  background-color: #e0e0e0;
  font-size: 15px;
  font-weight: bold;
  color: #5c294b;
  cursor: pointer;
  margin-top: 10px;
}

.container-transferencia button:hover {
  background-color: #5c294b;
  color: white;
}

.container-transferencia input {
  margin-left: 5px;
  padding: 6px 9px;
  border-radius: 5px;
  border: #5c294b solid 1px;
}

.container-transferencia input:focus {
  outline: none;
  box-shadow: 0 0 5px #5c294b;
}

.container-transferencia label {
  font-weight: 500;
}
