* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f3f3f3;
  min-height: 100vh;
  color: #333;
}

.App {
  text-align: center;
}
